* {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

h2 {
  overflow: hidden; }

* {
  font-family: "poppins"; }

footer {
  background-color: #b7b7b7; }
  footer .box__footer {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around; }
  footer .navbar__footer {
    display: inline; }
  footer .navbar__item__footer {
    margin: 15px;
    list-style: none;
    display: inline; }
  footer .box__socialmedia {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }

.navbar__item__footer a {
  color: black; }

.social__media a {
  color: black; }

header {
  background-color: #468fc1; }
  header .navbar {
    background-color: #468fc1; }
    header .navbar #navbarText {
      margin: 5px;
      padding: 5px; }
    header .navbar #tittleNavbar {
      margin: 10px;
      padding: 10px; }
    header .navbar .navbar-image-custom {
      width: 150px;
      height: auto;
      padding: 5px; }
    header .navbar .navbar-toggler {
      border: 0px; }

h1 {
  overflow: hidden;
  font-family: "permanent marker";
  font-size: xx-large;
  color: black;
  text-align: center;
  animation-name: "colorChange";
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2s; }

@keyframes colorChange {
  0% {
    color: 360, 0%, 0%; }
  50% {
    color: 204, 49%, 51%; }
  100% {
    color: 204, 47%, 31%; } }
  h1 .title {
    display: flex;
    justify-content: center; }

.title {
  display: flex;
  justify-content: center; }
  .title #LogoTitle {
    width: 400px;
    height: auto; }

body {
  background-color: beige; }
  body h2 {
    font-family: "permanent marker"; }
  body .style-home {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: baseline; }
  body .text-home {
    font-size: large;
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-weight: bold; }
  body .ig {
    color: black; }

body .box__image__aboutus {
  display: flex;
  justify-content: center;
  align-items: baseline; }
  body .box__image__aboutus .image__aboutus {
    margin: 10px 10px;
    width: 60%;
    height: auto;
    object-fit: cover; }

.card-galery .img-custom:hover {
  transform: scale(1.5);
  transition: all 2s ease; }

.card-galery .img-custom {
  object-fit: cover; }

.card-galery .card-custom {
  background-color: black;
  color: white;
  object-fit: cover; }

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  border: black solid 1px; }
  article .card__product {
    padding: 10px; }
  article .image__product {
    margin: 10px;
    width: 300px;
    height: auto;
    object-fit: cover; }
  article .card__tittle {
    margin: 30px; }
  article .card__description {
    padding: 10px; }

.card__form {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between; }

.card__info {
  padding: 10px;
  margin: 5px; }
  .card__info .logo__contact {
    width: 20%;
    height: auto; }

.info__title {
  overflow: hidden; }

@media screen and (max-width: 768px) {
  #LogoTittle {
    width: 100px;
    height: auto; }
  main {
    padding: 10px; }
  .text-home {
    font-size: small; }
  .image-home {
    padding: 0px; }
  .navbar__footer {
    margin: 0px;
    display: block; }
    .navbar__footer .navbar__item__footer {
      padding: 0px;
      margin: 0px;
      display: block;
      text-align: center; } }
