* {
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

* {
  font-family: "poppins"; }

footer {
  background-color: #b7b7b7; }
  footer .box__footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: space-around; }
  footer .navbar__footer {
    padding: 20px;
    margin: 10px;
    display: inline; }
  footer .navbar__item__footer {
    list-style: none;
    display: inline;
    margin: 20px; }
  footer .box__socialmedia {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center; }

.navbar__item__footer a {
  color: black; }

header {
  background-color: #468fc1; }
  header .navbar {
    background-color: #468fc1; }
    header .navbar #navbarText {
      margin: 5px;
      padding: 5px; }
    header .navbar #tittleNavbar {
      margin: 10px;
      padding: 10px; }
    header .navbar .navbar-image-custom {
      width: 150px;
      height: auto;
      padding: 5px; }
    header .navbar .navbar-toggler {
      border: 0px; }

h1 {
  font-family: "permanent marker";
  font-size: xx-large;
  color: black;
  text-align: center;
  animation-name: "colorChange";
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-delay: 2s; }

@keyframes colorChange {
  0% {
    color: 360, 0%, 0%; }
  50% {
    color: 204, 49%, 51%; }
  100% {
    color: 204, 47%, 31%; } }
  h1 .title {
    display: flex;
    justify-content: center; }

.title {
  display: flex;
  justify-content: center; }
  .title #LogoTitle {
    width: 400px;
    height: auto; }

body {
  background-color: beige; }
  body .text__image__home {
    margin: 25px;
    font-size: large;
    display: inline-block; }

body .box__image__aboutus {
  display: flex;
  justify-content: center;
  align-items: baseline; }
  body .box__image__aboutus .image__aboutus {
    margin: 10px 10px;
    width: 60%;
    height: auto;
    object-fit: cover; }

.card__image {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .card__image .image__galery {
    width: 50%;
    height: auto;
    object-fit: cover; }
    .card__image .image__galery:hover {
      transform: scale(2);
      transition: all 2s ease; }
  .card__image .info__image {
    margin: 10px; }

article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  border: black solid; }
  article .image__product {
    margin: 10px;
    width: 300px;
    height: auto;
    object-fit: cover; }
  article .card__tittle {
    margin: 30px; }
  article .card__description {
    padding: 10px; }

.card__form {
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between; }

.card__info {
  padding: 10px;
  margin: 5px; }
  .card__info .logo__contact {
    width: 20%;
    height: auto; }

@media screen and (max-width: 768px) {
  #LogoTittle {
    width: 100px;
    height: auto; }
  .box__footer {
    display: flex; }
  .navbar__footer {
    padding: 10px;
    display: inline; }
  .social__media {
    display: inline; }
  .navbar__item {
    margin: 5px; }
  main {
    padding: 10px; } }
