*{
    margin: 0;
    padding: 0;
    font-family: "poppins"
}

/* HEADER */
.header{
    background-color: #468fc1;
}
.navbar{
    background-color: #468fc1;
}
#navbarText{
    margin: 10px;
}

#tittleNavbar{
    margin: 10px;
}
.navbar-image-custom{
    width: 150px;
    height: auto;
}

.logo-header-custom{
    width: 30%;
    height: auto;
    padding: 50px;
}

.navbar-toggler{
    border: 0px;
}

/* TITTLE AND LOGO */
h1{
    font-family: "permanent marker";
    font-size: xx-large;
    color: black;
    text-align: center;
    padding: 10px;
}

.title{
    display: flex;
    justify-content: center;
}
 
#LogoTitle{
     width: 25%;
     height: auto;
     display: flex;
}

/* BODY HOME */
body{
    background-color: beige;
}

 .text__image__home{
    margin: 30px;
    padding: 20px;
    font-size: large;
    display: inline-block;
 }

 .caruosel-item{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

/* ABOUT US */
.box__image__aboutus{
    display: flex;
    justify-content: center;
    align-items: baseline;
}
.image__aboutus{
    margin: 10px 10px;
    width: 60%;
    height: auto;
    object-fit: cover;
}

.box__text__aboutus{
    padding: 10px;
}
 
/* GALERY */
.image__galery{
    width: 50%;
    height: auto;
    object-fit: cover;
}

.image__galery:hover{
    transform: scale(2);
    transition: all 2s ease;
}

.card__image{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info__image{
    margin: 10px;
    padding: 10px;
}

/* SHOP */

.image__product{
    margin: 10px;
    padding: 10px;
    width: 300px;
    height: auto;
    object-fit: cover;
}
.card__tittle{
    margin: 30px;
    padding: 10px;
}

.card__description{
    padding: 10px;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    border: black solid;
}

/* CONTACT */
.logo__contact{
    width: 20%;
    height: auto;
}
/* FOOTER */
 footer{
    background-color: #b7b7b7;
}

.box__footer{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__footer{
    display: inline;

}

.navbar__item__footer{
    list-style: none;
    display: inline;
    margin: 20px;
}

.navbar__item__footer a{
    color: black;
}

.box__socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__media{
    display: inline;
    margin: 50px;

}





/* MEDIA QUERI MOBILE (0px AND 768px) */

@media screen and (max-width: 768px) {
    #LogoTittle {
        width: 100px;
        height: auto;
    
    }

    .box__footer{
        display: flex;

    }
    .navbar__footer{
        padding: 10px;
        display: inline;

    }
    
    .social__media{
        display: inline;
    }

    .navbar__item{
        margin: 5px;
    }

    main{
        padding: 10px;
    }


}
