body{
    h2{
        font-family: $font_style;
    }
    background-color: $primary_color;
        .style-home{
            padding: 10px;
            .home-custom{
                justify-content: center;
                align-items: center;
            }
        }
        .text-home{
            font-size: large;
            padding: 5px;
            margin: 10px;
            text-align: center;
            font-weight: bold;
        }
        .ig{
            color: $tertiary_color;
        }
     
}
