.card__form{
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: space-between;
}
.card__info{
    padding: 10px;
    margin: 5px;
}
.logo__contact{
    width: 20%;
    height: auto;
}
