footer{
    background-color: $fourth_color;
    .box__footer{ 
        padding: 20px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-content: space-around;
    }
    .navbar__footer{
        display: inline;
    }
    .navbar__item__footer{
        margin: 15px;
        list-style: none;
        display: inline;
      
    }
    .box__socialmedia{
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.navbar__item__footer a{
    color: black;
}

.social__media a{
    color: black;
}








