.card-galery{
    .img-custom:hover{
        transform: scale(1.5);
        transition: all 2s ease;
    }
    .img-custom{
        object-fit: cover;
    }
    
    .card-custom{
        background-color: black;
        color: white;
        object-fit: cover;
    }
}


 
  
    





