@media screen and (max-width: 768px) {
    #LogoTittle {
        width: 100px;
        height: auto;
    
    }
    main{
        padding: 10px;
    }
    .text-home{
        font-size: small;
    }
    .image-home{
        padding: 0px;
    }
    .navbar__footer{
        margin: 0px;
        display: block;
        .navbar__item__footer{
            padding: 0px;
            margin: 0px;
            display: block;
            text-align: center;
        }
    }
    .card-galery{
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        .card-custom{
            margin: 5px;
        }
    }
}
