article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border: black solid 1px;
    .card__product{
        padding: 10px;
    }
    .image__product{
        margin: 10px;
        width: 300px;
        height: auto;
        object-fit: cover;
    }
    .card__tittle{
        margin: 30px;
    }
    .card__description{
    padding: 10px;
}
}




